@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-300.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-900.woff') format('woff');
}

:root {
  --color-brend-light: #cfcfbc;
  --color-brend-normal: #819b57;
  --color-brend-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondaru-dark: #a18268;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

.section {
  padding: 48px 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brend-normal);
  border: 2px solid var(--color-brend-normal);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brend-dark);
  background-color: transparent;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: var(--color-brend-normal);
  font-weight: 600;
}

/* Hero-section */
.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../images/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brend-normal);
}

/* Advantages-section */
.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brend-normal);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brend-dark);
}

/* Traditions-section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 620px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brend-normal);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chefs-section */
.chefs-title {
  margin: 0 auto 80px;
  position: relative;
}

.chefs-title::before,
.chefs-title::after {
  content: '';
  border: 2px solid var(--color-brend-light);
  width: 352px;
  position: absolute;
  bottom: 24px;
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0px 0px var(--color-primary-light),
    -16px 16px 0px 2px var(--color-secondaru-dark);
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-text p {
  margin-bottom: 24px;
}
.chef-text p:last-child {
  margin-bottom: 0;
}

/* Formats-section */
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  height: 444px;
  padding: 24px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    #31261a00 55.21%,
    #31261ab5 72.92%,
    var(--color-primary-dark) 100%
  );
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  fill: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/* Contacts-section */
.contacts-section {
  padding-bottom: 96px;
}

.contacts-title {
  margin-bottom: 16px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

/* Footer */
.footer {
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;
  position: relative;
}

.footer::before,
.footer::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
}

.footer::before {
  background-image: url(../images/decor-bread-small.png);
  width: 180px;
  height: 120px;
  left: 0;
}

.footer::after {
  background-image: url(../images/decor-bread-large.png);
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brend-normal);
  font-size: 16px;
  font-weight: 300;
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brend-normal);
}

.address-copyright {
  font-size: 14px;
  color: var(--color-secondaru-dark);
}

/* Modal */
.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 128px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

/* Form */
.form-field {
  position: relative;
  margin-bottom: 32px;
}

.form-label {
  display: block;
  position: absolute;
  top: 16px;
  left: 42px;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondaru-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brend-normal);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-secondaru-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
