:root {
  --color-brend-light: #cfcfbc;
  --color-brend-normal: #819b57;
  --color-brend-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary-dark: #a18268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
