.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  padding: 24px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    #31261a00 55.21%,
    #31261ab5 72.92%,
    var(--color-primary-dark) 100%
  );
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
  }
}
