.input {
  position: relative;

  &__label {
    display: block;
    position: absolute;
    top: 16px;
    left: 42px;
  }

  &__control {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondaru-dark);
    border-radius: 8px;
    background-color: transparent;

    &__:focus {
      border-color: var(--color-brend-normal);
      outline: none;

      &__::placeholder {
        color: var(--color-secondaru-dark);
        font-size: 16px;
        line-height: 1.17;
      }

      &__:focus::placeholder {
        color: var(--color-primary-dark);
      }
    }
  }
}
