.chefs-section {
  &__title {
    margin: 0 auto 24px;
    position: relative;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px;
    }

    &::before,
    &::after {
      display: none;
      content: '';
      position: absolute;
      border: 2px solid var(--color-brend-light);
      width: 352px;
      bottom: 24px;

      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      gap: 40px 30px;
      flex-direction: row;
    }
  }

  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
