.traditions-section {
  padding-top: 96px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__content {
    max-width: 620px;
  }

  &__title {
    margin-bottom: 42px;
  }
}
